* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --col-back-header: #222222;
    --col-allert: #fe020c;
    --col-success: #49ca00;
    --col-buttons: #fefffe;
    --col-back-buttons: #4a4a4a;
}

/* fine regole comuni */

/* utilities */

.flex {
    display: flex;
}


.wrap {
    flex-wrap: wrap;
}


.relative {
    position: relative;
}

.column {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.margin_10 {
    margin: 0 10px;
}

.space_evenly {
    justify-content: space-evenly;
}

/* header */



header {
    background-color: var(--col-back-header);
    height: 40px;
}

.buttons {
    text-align: end;
}

.buttons > button {
    background-color: var(--col-back-buttons);
    border: none;
    color: var(--col-buttons);
    padding: 5px;
    border-radius: 10%;
}

/* end header */

/* main */


main {
    background-color: red;
    height: calc(100vh - 120px);
    max-width: 1170px;
    margin: auto;
    overflow-y: auto;
}

.main_container {
    gap: 5px;
    justify-content: center;
}

.card {
    background-color: blue;
    height: 140px;
    width: 240px;
}

.avatar_name {
    background-color: rgba(0, 0, 0, 0.216);
    color: var(--col-buttons);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 3px;
}

/* end main */

/* start footer */

footer {
    height: 80px;
    background-color: var(--col-back-header);
}

.container_footer {
    height: 100%;
    align-items: center;
}



.col {
    background-color: blue;
    border: 1px solid white;
    align-items: center;
    color: var(--col-buttons);
}




.small_col_left, .small_col_right {
    width: 25%;
}

.big_col {
    width: 50%;
}

.small_col_right {
    justify-content: end;
}



.footer_button {
    border: none;
    padding: 30px;
    background-color: var(--col-back-buttons);
    color: var(--col-allert);
}











